{
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "vueIndentScriptAndStyleIndentation": "indent",
  "vueIndentScriptAndStylePattern": "line",
  "vueIndentScriptAndStyleAlignAttributes": true
}