* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  font-family: "Poppins", sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbdcf;
  border-radius: 32px;
}

:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
}
